{{ $item := . }}

{{/* Dynamic view adjusts to content type. */}}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

{{ $pdf := "" }}
{{ $resource := $item.Resources.GetMatch (printf "%s.pdf" $item.File.ContentBaseName) }}
{{ with $resource }}
  {{ $pdf = .RelPermalink }}
{{ else }}
  {{ if $item.Params.url_pdf }}
    {{ $pdf = $item.Params.url_pdf | relURL }}
  {{ end }}
{{ end }}

<div class="media stream-item">
  <div class="media-body">

    <div>
      {{ with $pdf }}
        <a href="{{ . }}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
      {{ else }}
        <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
      {{ end }}
    </div>
    <div>
      {{ partial "page_metadata_authors" $item }}
    </div>
    <div>
      <span class="font-weight-bold">{{ $item.Params.publication_short }}</span>, {{ $item.Params.year }}
    </div>
    <div class="btn-links">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>

  </div>
  <div class="ml-3">
    {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
    <a href="{{$link}}" {{ $target | safeHTMLAttr }}>
      <img src="{{ $image.RelPermalink }}" alt="{{ $item.Title }}">
    </a>
    {{end}}
  </div>
</div>
